.form-group{
	height: 34px;
}

.form-container{
	width: 600px;
}

span.login{
	position: absolute;
	top: 25px;
	right: 20px;
	font-size: 18px;
}

h1.title{
	text-align: center;
}

.subject-row{
	padding-left: 15px;
	cursor: pointer;
	cursor: hand;
}

.replyBox{
	display: inline-block;
}

textarea.replyarea {
    resize: none;
}