@* createAccount Template File *@
@(accountForm: Form[models.Tables.UsersRow])(implicit context: BaseContext)

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(bootstrapInput.f) }

@main("Create new Account", accountHelper()){
	
	@form(routes.LoginController.createAccount()) {
		<div class="form-container">
		<fieldset>
			@helper.inputText(accountForm("name"), args = '_label -> "Name", 'class -> "form-control")
			
			@helper.inputText(accountForm("username"), args = '_label -> "Username", 'class -> "form-control")
			@helper.inputPassword(accountForm("password"), args = '_label -> "Password", 'class -> "form-control")
			<div class="form-group" id="confirm-control">
    			<label for="Confirm" class="col-lg-2 control-label">Confirm</label>
    			<div class="col-lg-10">
    				<input type="password" id="confirm" name="confirm" class="form-control">
    				<span id="confirm-block" class="help-block"></span>
    			</div>
			</div>
			@helper.inputText(accountForm("email"), args = '_label -> "E-mail", 'class -> "form-control")
		</fieldset>
		
		<div class="actions">
	      <input type="submit" value="Create account" class="btn primary" id="create-btn">
	    </div>
	    </div>
	}
}


