@* createOffer Template File *@
@(offersForm: Form[models.Tables.OffersRow])(implicit context: BaseContext)

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(bootstrapInput.f) }

@main("Create new Offer"){
	@helper.form(routes.OffersController.saveOffer()) {
		<div style="width:600px">
		<fieldset>
			@helper.textarea(offersForm("text"), args = '_label -> "Description", 'class -> "form-control", 'placeholder -> "description")
		</fieldset>
		
		<div class="actions">
	      <input type="submit" value="Create offer" class="btn primary"> or 
	      <a href="@routes.Application.index()" class="btn">Cancel</a> 
	    </div>
	    </div>
	}
}
