@(offersForm: Form[models.Tables.OffersRow], id: Int)(implicit context: BaseContext)

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(bootstrapInput.f) }

@main("Edit Offer"){
	@helper.form(routes.OffersController.updateOffer(id)) {
		<div style="width:600px">
		<fieldset>
			<input type="hidden" name="id" value="@offersForm.data.get("id")">
			@helper.textarea(offersForm("text"), args = '_label -> "Description", 'class -> "form-control", 'placeholder -> "description")
		</fieldset>
		
		<div class="actions">
	      <input type="submit" value="Update offer" class="btn primary"> 
	      <a href="@routes.OffersController.deleteOffer(id)" class="btn" id="delete">Delete</a>
	      <a href="@routes.OffersController.showOffers()" class="btn">Cancel</a> 
	    </div>
	    </div>
	}
	<script type="text/javascript">
		$('#delete').click(function() {
			return confirm('@Messages("offers.delete.confirm")');
		})
	</script>
}
