@()(implicit context: BaseContext)

@main("Offers application") {
	@context.flash.get("success").map{ m =>
        <span><strong>@m</strong></span>
    }
	<a href='@routes.OffersController.showOffers()'>Show Offers</a><br>
	@context.user.filter(_.authority == "admin").map{ u => 
		<a href='@routes.Application.adminTest()'>Admin area</a><br> 
	}
}