@* listmessages Template File *@
@(msgs: List[(models.Tables.MessagesRow, models.Tables.UsersRow)])(implicit context: BaseContext)

@scripts = {
    <script src="@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.js"))" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/messagesHelper.js")" type="text/javascript"></script>
    <script src="@routes.WebJarAssets.at(WebJarAssets.locate("notify.min.js"))" type="text/javascript"></script>
    <script src="@routes.WebJarAssets.at(WebJarAssets.locate("notify-bootstrap.js"))" type="text/javascript"></script>
}

@main("Messages", scripts){
	<div class="panel-group" id="accordion">
	@msgs.map { case (x, sender) =>
		  <div class="panel panel-default">
		    <div class="panel-heading">
		      <h4 class="panel-title">
		        <a data-toggle="collapse" data-parent="#accordion" href="#collapse@x.id">
		          <strong class="text-capitalize">@x.subject</strong>
		        </a>
		        <small class="subject-row" data-toggle="modal" data-target="#modal-reply@x.id">@sender.username</small>
		        <div id="modal-reply@x.id" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
				  <div class="modal-dialog modal-sm">
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				        <h4 class="modal-title" id="myModalLabel">Reply to @sender.username</h4>
				      </div>
				      <div class="modal-body">
				        <textarea rows="7" cols="30" class="replyarea" id="reply@x.id"></textarea>
				        <button type="button" class="btn btn-primary btn-xs replybutton" data-dismiss="modal" data-msgid="@x.id" data-userid="@sender.id.get" data-subject="@x.subject">Send</button>
				      </div>
				    </div>
				  </div>
				</div>
		      </h4>
		    </div>
		    <div id="collapse@x.id" class="panel-collapse collapse">
		      <div class="panel-body">
		        @x.content
		      </div>
		    </div>
		  </div>
	}
	</div>
}
