@* login Template File *@
@(loginInfo: Form[(String, String)])(implicit context: BaseContext)

@import helper._
@implicitFieldConstructor = @{ FieldConstructor(bootstrapInput.f) }


@main("login page"){

	@form(routes.LoginController.authenticate()){
		<div style="width:500px">
			<fieldset>
				@helper.inputText(loginInfo("username"), args = '_label -> "Username", 'class -> "form-control")
				@helper.inputPassword(loginInfo("password"), args = '_label -> "Password", 'class -> "form-control")
			</fieldset>
			
			@if(loginInfo.hasGlobalErrors) {
			  <div class="help-block">
				  <ul>
				  @for(error <- loginInfo.globalErrors) {
				    <li>@error.message</li>
				  }
				  </ul>
			  </div>
			}
			<div class="actions">
		      <input type="submit" value="Login" class="btn primary">
		      <a href='@routes.LoginController.createAccount()'>@Messages("account.create.create")</a>
		    </div>
	    </div>
	}
}