@* newMessage Template File *@
@(msgForm: Form[models.Tables.MessagesRow], id: Int)(implicit context: BaseContext)
@import helper._
@implicitFieldConstructor = @{ FieldConstructor(bootstrapInput.f) }

@main("Current offers"){
	@helper.form(action = routes.MessagesController.createMsg(id)) {
	  <div class="form-container">
		  <fieldset>
			  @inputText(msgForm("subject"))
			  @textarea(msgForm("content"))
		  </fieldset>
	  <div class="actions">
	  	<input type="submit" value="Send message" class="btn primary"> 
	  </div>
	  </div>
	}
}