@(offers: List[(models.Tables.OffersRow, models.Tables.UsersRow)])(implicit context: BaseContext)

@main("Current offers"){
	
	@context.flash.get("success").map { message =>
        <div class="alert-message warning">
            <strong>Done!</strong> @message
        </div>
    }
	
	<table class="table">
		<tr>
			<th>Name</th>
			<th>Email</th>
			<th>Description</th>
			<th>---</th>
		</tr>
		@offers.map{x =>
			<tr>
			  <td>@x._2.name</td>
			  <td><a href="@routes.MessagesController.createMsg(x._2.id.get)">@x._2.email</a></td>
			  <td>@x._1.text</td>
			  @context.user.filter( _.id.get == x._1.userid ).map{ _ => 
				<td><a href="@routes.OffersController.editOffer(x._1.id.get)">Edit</a> 
			  }
			</tr>
		}
	</table>
	
	<a href='@routes.OffersController.createOffer()'>Create new Offer</a><br>
	
}